.page {
    width: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.page h3 {
    margin-bottom: 2rem;
}

.field {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.field h6 {
    min-width: 100px;
}
.imageContainer {
    width: 500px; 
    height: 350px;
    position: relative;   
}
.page img {
    z-index: -1;
}